*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color:#31050C;
    min-height: 100vh;
    border:10px solid black;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top-section{
    margin-top:100px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}
.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}
.top-section h4{
    font-size: 30px;
    color:white;
    text-align: end;
}
.image-container{
    border-radius: 50%;
    overflow: hidden;
}
.image-container,img{
    width: 300px;
    height: 320px;
}
.about-section{
    margin-top: 50px;
}
.about-section h2{
    font-size: 70px;
    font-weight: 400;
    color:white;
    margin-bottom: 20px;
}
.about-section p{
    font-size: 20px;
    color:white;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography-section h3{
    margin: 50px 0;
    color:white;
}
.biography-section{
    color:white;
    font-size:20px ;
    margin-bottom: 20px;
}
.biography-section ul{
    margin-left: 50px;
}
.biography-section li{
    margin: 15px;
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: end;
    margin-top: 20px;
    color:white;
}
